div {
	text-align: center;
	margin: 20px;
}

h1 {
	font-size: 24px;
	color: #333;
	margin-bottom: 10px;
}

table {
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
  border-collapse: separate;
  border-spacing: 0;
  border: 1px solid #ccc;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}


tr {
  border-bottom: 1px solid #ccc;
}

td {
	padding: 10px;
	text-align: left;
	border-right: 1px solid #ccc;
	max-width: 1000px;
}

td:first-child {
	width: 100px;
}

td:last-child {
  border-right: none;
}


tr:nth-child(odd) {
  background-color: #f5f5f5;
}

button {
	padding: 10px 20px;
	background-color: #007BFF;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin: 10px;
}

button:hover {
	background-color: #0056b3;
}
